@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*
light blue: #03C4EB
dark blue: #1D2D46
dark pink: #A32365
background: white
*/

section {
    background-color: #1d2d46;
}

section h2 {
    color: white;
    font-family: 'Lato', sans-serif;
}

section p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
}

#chighlight {
    color: #A32365;
}

#cbuttons {
    color: #03C4EB;
}

#cback {
    color: #1D2D46;
    /*Below is from: https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    ;
}

#lato {
    font-family: 'Lato', sans-serif;
}

#roboto {
    font-family: 'Roboto', sans-serif;
}

.colors p:nth-child(1) {
    color: #03C4EB;
    /* Applied in buttons */
}

.colors p:nth-child(3) {
    color: #1D2D46;
    /* Applied to background */
}