/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    /*color: #000;*/
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: black;
}

#menu.open::before {
    content: "X";
}

/* small view navigation */
.navigation a {
    display: none;
}

/* when the button is clicked - the open class is toggled (added/removed) */

.open a {
    display: block;
}

.logos {
    margin-bottom: 3.5em;
    /*background-color: #1d2d46;
    color: #1d2d46;
  */
}

#weather {
    text-align: center;
    border-bottom: 2px solid black;
}

nav a:hover {
    background-color: grey;
}

main {
    display: flex;
    flex-direction: column;
}



#mode {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

#heroimg {
    max-width: 100%;
    height: auto;
}

.dark-mode {
    background-color: #1d2d46;
    color: white;
}

.light-mode {
    color: #1d2d46;
    background-color: white;
}


#events a:hover {
    background-color: grey;
}

#events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

#events p {
    grid-row: 1/2;
    grid-column: 1/3;
}

#spotlights {
    border-bottom: 2px solid black;
}

#spotlights p {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 1%;
}

.dark-mode {
    background-color: #1d2d46;
    color: white;
}

.light-mode {
    color: #1d2d46;
    background-color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.discover {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    flex-direction: column;
}

.track {
    text-align: center;
}

@media screen and (min-width:800px) {
    nav {
        display: grid;
        border: 2px solid black;
        background-color: white;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    main {
        background-color: #1d2d46;
        display: flex;
        flex-direction: column;
    }

    .card {
        background-color: white;
        color: #1d2d46;
    }


    #events {
        /*background-color: white;*/
        display: flex;
        border: 2px solid black;
        justify-content: space-between;
    }

    #nyc {
        background-color: #1d2d46;
        color: white;
    }

    hr {
        width: 100%;
    }



    /*
    footer,
    h2,
    h1 {
        background-color: #1d2d46;
        color: white;
    }
*/

    .hero img {
        width: 100%;
        height: auto;
    }

    #events {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
    }

    #events p {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #spotlights {
        border-bottom: 2px solid black;
    }

    #spotlights p {
        text-align: center;
    }

    #weather {
        text-align: center;
        border-bottom: 2px solid black;
    }

    #events a:hover {
        background-color: grey;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #menu {
        display: none;
    }

    .navigation a {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .navigation a:hover {
        transition: background-color 0.3s ease;
    }

    .logos {
        margin-bottom: 3em;
    }

    #heroimg {
        max-width: none;
        width: 100%
    }

    footer {
        text-align: center;
        margin-top: 1%;
    }

    .dark-mode {
        background-color: #1d2d46;
        color: white;
    }

    .light-mode {
        color: #1d2d46;
        background-color: white;
    }

    main {
        max-height: 1920px;
    }

    /* bigger view */
    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        justify-content: center;
        align-items: center;
        max-height: fit-content;
    }

    main>section {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
    }

    .discover div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .discover div:nth-child(2) section:nth-child(1) {
        grid-column: 1/2;
        grid-row: 3/5;
        /*35 57 79*/
    }

    .discover div:nth-child(2) section:nth-child(1) {
        grid-column: 1/2;
        grid-row: 5/7;
        /*35 57 79*/
    }

    .discover div:nth-child(2) section:nth-child(1) {
        grid-column: 1/2;
        grid-row: 7/9;
        /*35 57 79*/
    }

    .discover div:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/9;
        display: flex;
        flex-direction: column;
    }

    blockquote.twitter-tweet {
        /* max-height: 300px; */
        width: auto;
        overflow: hidden;
        border: 1px solid #1d2d46;
        border-radius: 10px;
        /* padding: 10px; */
    }

    img {
        width: 80%;
    }


    .track {
        display: flex;
        justify-content: center;
        grid-column: span 2;
        border: 2px solid white;
        text-align: center;
    }

}

/*
TODO: 
1. Light/Dark mode
2. Center the `page visited` in the discover.html outside the footer.
3. index.html: Embedded and Inline CSS are not allowed. (You may need to check embedded iframe from Google Maps and remove inline CSS)
*/