@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap');

h1 {
    color: white;
}

h2 {
    color: white;
    display: block;
    grid-column: 1/4;
}

a {
    text-decoration: none;
    /* make the links not to be underlined */
}

p {
    color: white;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

header img {
    margin-right: 10px;
}

a {
    color: white;
}

nav {
    text-align: center;
}

nav a {
    display: block;
    background-color: green;
    color: white;
}

body {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #274713;

}

h3 {
    background-color: green;
    color: white;
}

hr {
    width: 80%;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

footer {
    background-color: green;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

li {
    list-style-type: none;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "❎";
}

/* small view navigation */
.navigation a {
    display: none;
}

/* when the button is clicked - the open class is toggled (added/removed) */

.open a {
    display: block;
}

iframe {
    grid-column: 1/4;
    width: 90%;
    padding-left: 5%;
}

section:nth-child(2) {
    grid-column: 1/4;
}

section:nth-child(3) {
    grid-column: 1/4;
}

@media screen and (min-width:800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        margin: 15px
    }

    section:nth-child(2) {
        grid-column: 1/2;
    }

    section:nth-child(3) {
        grid-column: 2/3;
    }

    h2 {
        grid-column: 1/3;
        width: 100%;
    }


    #menu {
        display: none;
    }

    .navigation a {
        display: flex;
    }
}