:root {
    --text-color: hsl(0, 0%, 93%, 1);
    --label-color: hsl(0, 0%, 100%, 1);
}

form label {
    display: block;
    color: var(--label-color);
    margin-top: 10px;
}

form legend {
    color: var(--text-color);
}

form input {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnSubmit {
    margin-top: 5%;
}

#rangevalue {
    color: var(--text-color a);
    margin-top: 2%;

}

#r {
    margin-top: 10px;
    width: 100%
}